<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
Create a new simple book
<form action="/simple-book/create" method="post">
    <label for="simpleBook.name">Simple Book Name</label>
    <input id="simpleBook.name" name="simpleBook.name" type="text"/>
    <br>
    <label for="simpleBook.author.name">Author Name</label>
    <input id="simpleBook.author.name" name="simpleBook.author.name" type="text"/>
    <br>
    <label for="simpleBook.author.age">Author Age</label>
    <input id="simpleBook.author.age" name="simpleBook.author.age" type="text"/>
    <input type="submit" value="submit"/>
</form>
</body>
</html>